/* =============== Fonts =============== */

/* ===================================== */

/*Reset*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:active,
:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select,
option {
  font-size: inherit;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --clr-bg: #2d2d2d;
  --clr-text-default: rgb(255, 255, 255);
  --ff-primary: "Arial", Helvetica, sans-serif;
  --ff-secondary: "Times New Roman", Times, serif;
  --fw-normal: 400;
  --animation-duration: 0.3s;
}

.--container {
  max-width: 63.125rem;
  margin: 0 auto;
  padding-inline: 1.5625rem;
}

.--grid-content {
  display: grid;
  grid-template-columns: [full-width-start] 1fr [breakout-start] 1.5625rem [content-start] minmax(auto, 60rem) [content-end] 1.5625rem [breakout-end] 1fr [full-width-end];
}

.--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.--burger {
  display: none;
}

.heading-2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.heading-2:not(:last-child) {
  margin-bottom: 1.25rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.--accordion {
  display: grid;
  gap: 0.625rem;
}

.--accordion__wrapper {
  overflow: hidden;
  border-radius: 0.625rem;
  background-color: #fff;
  color: #000;
}

.--accordion__wrapper[open] .--accordion__panel,
.--accordion__wrapper[data-open] .--accordion__panel {
  grid-template-rows: 1fr;
  padding-block: 0.9375rem;
}

.--accordion__wrapper[open] .--accordion__header::before,
.--accordion__wrapper[data-open] .--accordion__header::before {
  transform: translateY(0.4375rem) rotate(45deg);
}

.--accordion__wrapper[open] .--accordion__header::after,
.--accordion__wrapper[data-open] .--accordion__header::after {
  transform: translateX(0.4375rem) rotate(45deg);
}

.--accordion__wrapper.--opening .--accordion__panel {
  animation-name: openAccordion;
  animation-duration: var(--animation-duration);
}

.--accordion__wrapper.--opening .--accordion__header::before {
  transform: translateY(0.4375rem) rotate(45deg);
}

.--accordion__wrapper.--opening .--accordion__header::after {
  transform: translateX(0.4375rem) rotate(45deg);
}

.--accordion__wrapper.--closing .--accordion__panel {
  animation-name: closeAccordion;
  animation-duration: var(--animation-duration);
}

.--accordion__wrapper.--closing .--accordion__header::before {
  transform: translateY(0.4375rem) rotate(0deg);
}

.--accordion__wrapper.--closing .--accordion__header::after {
  transform: translateX(0.4375rem) rotate(0deg);
}

.--accordion__header {
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.3125rem;
  list-style: none;
  padding: 0.9375rem 1.25rem;
  transition: all var(--animation-duration);
}

.--accordion__header_button {
  width: 100%;
  background-color: transparent;
  text-align: left;
}

.--accordion__header::before,
.--accordion__header::after {
  content: "";
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #000;
  transition: transform var(--animation-duration);
}

.--accordion__header::before {
  height: 0.125rem;
  width: 1rem;
  transform: translateY(0.4375rem);
}

.--accordion__header::after {
  width: 0.125rem;
  height: 1rem;
  transform: translateX(0.4375rem);
}

.--accordion__header:focus-visible {
  background-color: #b8b8b8;
}

.--accordion__panel {
  display: grid;
  grid-template-rows: 0fr;
  padding-inline: 1.25rem;
}

.--accordion__panel > div {
  overflow: hidden;
}

@keyframes openAccordion {
  0% {
    grid-template-rows: 0fr;
    padding-block: 0;
  }

  100% {
    grid-template-rows: 1fr;
    padding-block: 0.9375rem;
  }
}

@keyframes closeAccordion {
  0% {
    grid-template-rows: 1fr;
    padding-block: 0.9375rem;
  }

  100% {
    grid-template-rows: 0fr;
    padding-block: 0;
  }
}

html {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: var(--fw-normal);
  color: var(--clr-text-default);
  background-color: var(--clr-bg);
  scroll-behavior: smooth;
  scroll-padding-top: initial;
}

body {
  min-height: 100%;
}

body.--modal-opened,
body.--burger-menu-opened {
  touch-action: none;
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  flex: 1 1 auto;
}

.page__title {
  margin-block: 2.5rem;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.page > section:not(:last-child) {
  margin-bottom: 2.5rem;
}

.role-elements-accordion__accordion-header {
  width: 100%;
  text-align: left;
  background-color: transparent;
}

@media (hover: hover) {
  .--accordion__header:hover {
    background-color: #b8b8b8;
  }
}