@keyframes openAccordion {
	0% {
		grid-template-rows: 0fr;
	}

	100% {
		grid-template-rows: 1fr;
	}
}

@keyframes closeAccordion {
	0% {
		grid-template-rows: 1fr;
	}

	100% {
		grid-template-rows: 0fr;
	}
}